.price__old {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-decoration: line-through;
  border-bottom: 1px dashed;
  color: #9797AF;
  max-width: max-content;
  align-self: end;
  position: relative;
}

.price__old:hover .price__tooltip {
  display: block;
}


@media screen and (max-width: 757px) {
  .price__old {
    margin-bottom: 5px;
    white-space: nowrap;
  }
}