.card__tooltip {
    position: relative;
    display: inline-block;
}

.card__tooltip .card__hang-icon {
    width: 20px;
    height: 20px;
}

.card__tooltip .card__tooltip-text {
    visibility: hidden;
    width: 120px;
    background-color: #000;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
}

.card__tooltip:hover .card__tooltip-text {
    visibility: visible;
    opacity: 1;
}