.card__tooltip {
    position: relative;
    display: inline-block;
}

.card__tooltip .card__hang-icon {
    width: 20px;
    height: 20px;
}

.card__tooltip .card__tooltip-text {
    visibility: hidden;
    width: 280px;
    height: 104px;
    background-color: #ffffff;
    color: #000000;
    border-radius: 6px;
    padding: 11px 16px 13px;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 50%;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.3);
    transform: translate(-49%, 18%);
    opacity: 0;
    transition: opacity 0.3s;
}

.card__tooltip:hover .card__tooltip-text {
    visibility: visible;
    opacity: 1;
    display: flex;
    flex-direction: column;
    gap: 8px;
}