.formalization__header-container {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 757px) {
    .formalization__header-container {
        width: 89%;
        margin-left: 17px;
    }
}