.basket__title {
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    margin: 12px auto 0;
}

@media screen and (max-width:757px) {
    .basket__title{
        font-size: 20px;
        line-height: 28px;
        margin: -9px 15px 0;
    }
}