.formalization__title {
    margin-left: 24px;
    max-width: 95%;
    margin-bottom: 24px;
}

@media screen and (max-width: 1024px) {
    .formalization__title{
       margin-bottom: 21px;
    }
}

@media screen and (max-width:757px) {
    .formalization__title {
        margin-left: 15px;
        max-width: 93%;
    }
}