.header__user-icon_count{
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-50%, -50%);
    background-color: red;
    border-radius: 16px;
    width: 16px;
    height: 16px;
    text-align: center;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 10px;
    line-height: 18px;
}