.header__container {
    padding-top: 18px;
    padding-left: 24px;
    display: flex;
    gap: 32px;
    justify-content: space-between;
    max-width: 1400px;
    margin: 0 auto 0;
}

@media screen and (max-width:757px) {
    .header__container{
        padding: 0;
        justify-content: unset;
        gap: 15px;
    }
}
