.delivery__container-img {
    display: flex;
    gap: 8px;
    position: relative;
    margin-left: 6px;
    margin-top: -3px;
}

@media screen and (max-width: 757px) {
    .delivery__container-img {
        margin-left: 3px;
        margin-top: 0px;
    }
}