.popup__delete{
    width: 20px;
    height: 20px;
    border: none;
    background-image: url(../../../images/popup-trash.svg);
}

.popup__delete:hover{
    background-image: url(../../../images/trash-active.svg);
}