.popup__card{
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 400px;
    height: 267px;
    margin-left: 22px;
}

@media screen and (max-width: 757px) {
    .popup__card{
        height: 424px;
        margin-left:0;
    }
}