.user__input {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    height: 62px;
}

@media screen and (max-width:757px) {
    .user__input {
        flex-direction: column;
        height: auto;
        gap: 9px;
    }
}