.delivery__point-info {
    display: flex;
    gap: 2px;
    flex-direction: column;
    height: 44px;
}

@media screen and (max-width: 1024px) {
    .delivery__point-info{
        gap:5px;
    }
}

@media screen and (max-width:757px) {
    .delivery__point-info {
        height: auto;
    }
}