.popup__choice-btn {
    width: 224px;
    height: 36px;
    border-radius: 20px;
    background-color: inherit;
    border: 2px solid rgba(203, 17, 171, 0.15);
    font-size: 13px;
    line-height: 16px;
    font-weight: 700;
    cursor: pointer;
}

@media screen and (max-width:757px) {
    .popup__choice-btn{
        width: 140px;
    height: 40px;

    }

}