.basket__card-gray {
    gap: 30px;
}

@media screen and (max-width: 1024px) {
    .basket__card-gray {
        margin-left: 15px;
        margin-top: 1px;
        gap: 28px;
    }
}

@media screen and (max-width: 757px) {
    .basket__card-gray {
        margin-left: 0px;
        margin-top: 9px;
        gap: 30px;
    }
}