.basket {
    margin-left: 24px;
    width: 64%;
}


@media screen and (max-width: 1024px) {
    .basket{
      margin-left: 8px;
      width: 65%;
    }
}




@media screen and (max-width: 890px) {
    .basket{
        width: 90%;
        /* margin: 0 16px; */
        margin: 0;
        width: inherit;
    }
}