.basket__goods{
    margin-top: 25px;
}

@media screen and (max-width: 1024px) {
    .basket__goods{
        margin-left: 16px;
        width: 98%;
    }
}

@media screen and (max-width: 757px) {
    .basket__goods{
        width: 90%;
    }
}
